name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:

  build-deb:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.2
      with:
        java-version: 14
        java-package: jdk
    - name: Install xvfb for headless tests
      run: sudo apt-get install xvfb
    - uses: olegtarasov/get-tag@v2
      id: tagName
    - name: Gradle package
      run: "xvfb-run --auto-servernum ./gradlew check packageApp"
      env:
        RELEASE_VERSION: ${{ steps.tagName.outputs.tag }}
    - uses: actions/upload-artifact@v2
      with:
        name: insulator-debian
        path: insulator*.deb

  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.2
      with:
        java-version: 14
        java-package: jdk
    - uses: olegtarasov/get-tag@v2
      id: tagName
    - name: Gradle package
      run: "./gradlew check packageApp"
      env:
        RELEASE_VERSION: ${{ steps.tagName.outputs.tag }}
    - uses: actions/upload-artifact@v2
      with:
        name: insulator-macos
        path: Insulator*.dmg

  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.2
      with:
        java-version: 14
        java-package: jdk
    - uses: olegtarasov/get-tag@v2
      id: tagName
    - name: Gradle package
      run: "./gradlew check packageApp"
      env:
        RELEASE_VERSION: ${{ steps.tagName.outputs.tag }}
    - uses: actions/upload-artifact@v2
      with:
        name: insulator-win
        path: Insulator*.exe

  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    needs: [build-deb, build-mac, build-win]
    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: true

      - name: Download mac asset from previous jobs
        uses: actions/download-artifact@v2
        with:
          name: insulator-macos
      - name: Zip artifact
        run: |
          zip --junk-paths insulator-mac Insulator-*.dmg
      - name: Upload mac os release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./insulator-mac.zip
          asset_name: insulator-mac.zip
          asset_content_type: application/zip

      - name: Download win asset from previous jobs
        uses: actions/download-artifact@v2
        with:
          name: insulator-win
      - name: Zip artifact
        run: |
          zip --junk-paths insulator-win Insulator-*.exe
      - name: Upload win release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./insulator-win.zip
          asset_name: insulator-win.zip
          asset_content_type: application/zip

      - name: Download debian asset from previous jobs
        uses: actions/download-artifact@v2
        with:
          name: insulator-debian
      - name: Zip artifact
        run: |
          zip --junk-paths insulator-debian insulator*.deb
      - name: Upload debian release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./insulator-debian.zip
          asset_name: insulator-debian.zip
          asset_content_type: application/zip