name: Release

on:
  push:
    branches:
      - master

env:
  RELEASE_VERSION: 0.1.${{ github.run_number }}

jobs:
  package-app:
    runs-on: ${{ matrix.os.name }}
    strategy:
      matrix:
        os:
        - name: macos-latest
          artifact: insulator-mac
          path: Insulator*.dmg
        - name: ubuntu-latest
          artifact: insulator-debian
          path: insulator*.deb
        - name: windows-latest
          artifact: insulator-win
          path: Insulator*.exe
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 14
        java-package: jdk
    - name: Cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: ${{ runner.os }}-gradle-
    - name: Gradle package
      run: "./gradlew packageApp"
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os.artifact }}
        path: "./app/${{ matrix.os.path }}"
        if-no-files-found: error

  create-release:
    runs-on: ubuntu-latest
    needs: package-app
    outputs:
      release-url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          release_name: Release Candidate ${{ env.RELEASE_VERSION }}
          draft: false
          prerelease: true

  upload-artifacts:
    runs-on: ubuntu-latest
    needs: create-release
    strategy:
      matrix:
        artifact:
          - name: insulator-mac
            path: Insulator-*.dmg
          - name: insulator-win
            path: Insulator-*.exe
          - name: insulator-debian
            path: insulator*.deb
    steps:
      - name: Download asset from previous jobs
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.artifact.name }}
      - name: Zip artifact
        run: |
          zip --junk-paths ${{ matrix.artifact.name }} ${{ matrix.artifact.path }}
      - name: Upload ${{ matrix.artifact.name }} asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.release-url }}
          asset_path: ./${{ matrix.artifact.name }}.zip
          asset_name: ${{ matrix.artifact.name }}.zip
          asset_content_type: application/zip
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v3
        if: ${{ matrix.artifact.name == 'insulator-mac' }}
        with:
          # GitHub token, required, not the default one
          token: ${{secrets.GITHUBTOKEN}}
          # Optional, defaults to homebrew/core
          tap: andrea-vinci/homebrew-insulator
          # Formula name, required
          formula: insulator-dev
          # Optional, will be determined automatically
          tag: ${{ env.RELEASE_VERSION }}
          force: true
